name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: read
      pull-requests: write

    steps:
    - uses: actions/checkout@v4

    - name: Cache Gradle packages
      uses: actions/cache@v4
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
          .gradle/configuration-cache
        key: ${{ github.repository }}-gradle-cache

    - name: set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'zulu'
        cache: gradle

    - name: Setup keystore file
      run: |
        echo $UPLOAD_KEYSTORE_PROPERTIES_BASE64 | base64 --decode > keystore.properties
        echo $UPLOAD_KEYSTORE_FILE_BASE64 | base64 --decode > upload-keystore.jks
        cat keystore.properties | sha256sum | echo "Keystore properties hash: $(cat)"
        cat upload-keystore.jks | sha256sum | echo "Keystore file hash: $(cat)"
      env:
        UPLOAD_KEYSTORE_FILE_BASE64: ${{ secrets.UPLOAD_KEYSTORE_FILE_BASE64 }}
        UPLOAD_KEYSTORE_PROPERTIES_BASE64: ${{ secrets.UPLOAD_KEYSTORE_PROPERTIES_BASE64 }}

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Run Android lint
      run: ./gradlew lint

    - name: Run Detekt
      run: ./gradlew detekt

    - name: Assemble with Gradle
      run: ./gradlew assemble

    - name: Run tests with coverage
      run: ./gradlew koverXmlReport

    - name: Add coverage report to PR
      if: ${{ github.event_name == 'pull_request' }}
      uses: mi-kas/kover-report@v1
      with:
        path: ${{ github.workspace }}/build/reports/kover/report.xml
        title: Code Coverage
        update-comment: true

    - name: Upload screenshot diff artifact
      uses: actions/upload-artifact@v4
      if: ${{ always() }}
      with:
        name: screenshot-diff
        path: app/build/outputs/roborazzi
        retention-days: 30

    - name: Upload screenshot diff reports
      uses: actions/upload-artifact@v4
      if: ${{ always() }}
      with:
        name: screenshot-diff-reports
        path: app/build/reports
        retention-days: 30

    - name: Upload screenshot diff test results
      uses: actions/upload-artifact@v4
      if: ${{ always() }}
      with:
        name: screenshot-diff-test-results
        path: app/build/test-results
        retention-days: 30
